body{
    margin-top: 0px;
    margin-bottom: 0px;
}

header{
    height: 60px;
    width: auto;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;

}

#logo{
    height: 40px;
    width: 40px;
    position: relative;
    left: 28px;
    
    
}

#carrito{
    height: 40px;
    width: 40px;
    position: relative;
    left: 22%;
}

header nav{
    position: relative;
    display: inline-flex;
    gap: 35%;
    margin-left: 48%;
}

header nav a{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

/*cuerpo*/

#ofertas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-bottom: 1px solid black;
   
   
}


#titulo-principal{
    position: relative;
    top: 63px;
    left: 50px;
    font-family: 'poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
}

#promociones{

    position: relative;
    top: 63px;
    left: 50px;
    font-family: 'poppins', sans-serif;
    

}

#promociones h2{
    font-size: 22px;
    font-weight: bold;
}

#promociones li{

    font-size: 16px;
    font-weight: bold;
   
}

#tabla{
    position: relative;
    top: 25px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid black;
    border-radius: 8px;
    

}

.info-tablas{
    padding: 30px;
    border-bottom: 1px solid;
}

.info-tablas h1{
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
    
}



.info-tablas li{
    font-family: 'lato', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    
}

.info-tablas:nth-child(1) {
    border-right: 1px solid black;

}

.info-tablas:nth-child(3) {


    grid-column: span 2;
    border-bottom: none;
    text-align: center;
       
}


/*footer*/

footer{
    position: relative;
   
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px  solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
   
}


.info-footer{
    font-size: 13px;
    font-family: 'poppins', sans-serif;
    transition: all 0.5s ease;

    &:hover{
        color: blue;
    }
}

