header{
    height: 60px;
    width: auto;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;

}

#logo{
    height: 40px;
    width: 40px;
    position: relative;
    left: 50px;
    
}

#carrito{
    height: 40px;
    width: 40px;
    position: relative;
    left: 22%;
}

header nav{
    position: relative;
    display: inline-flex;
    gap: 35%;
    margin-left: 48%;
}

header nav a{
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
